{#
/**
 * @author TJ Draper <tj@buzzingpixel.com>
 * @copyright 2018 BuzzingPixel, LLC
 * @license proprietary
 * @link https://buzzingpixel.com/software/ansel-craft
 */
#}

{# @var settings \buzzingpixel\ansel\models\AnselSettingsModel #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% set title = "Ansel Settings"|t('app') %}

{% set errors = settings.getErrors() %}

{% block content %}
    <input type="hidden" name="action" value="ansel/cp-settings/save-settings">
    <div id="fields">
        {% set hiddenSettings = settings.getHiddenConfigSettings %}
        {% for setting,value in settings.asArray(true) %}
            {% if hiddenSettings[setting] is not defined %}
                {% switch settings.getPropertyType(setting) %}
                    {% case 'bool' %}
                        {{ forms.lightswitchField({
                            label: settings.getLabel(setting)|t('app'),
                            instructions: settings.getInstructions(setting)|t('app'),
                            id: setting,
                            name: setting,
                            on: value,
                            errors: errors[setting] ?? []
                        }) }}
                    {% default %}
                        {{ forms.textField({
                            label: settings.getLabel(setting)|t('app'),
                            instructions: settings.getInstructions(setting)|t('app'),
                            id: setting,
                            name: setting,
                            value: value,
                            first: true,
                            autofocus: true,
                            maxlength: 255,
                            errors: errors[setting] ?? []
                        }) }}
                {% endswitch %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
