{# @var settings \buzzingpixel\ansel\models\AnselSettingsModel #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% set title = "Ansel Settings"|t('app') %}

{% set errors = settings.getErrors() %}

{% block content %}
    <input type="hidden" name="action" value="ansel/cp-settings/save-settings">
    <div id="fields">
        {% for setting,value in settings.asArray(true) if setting != 'defaultHost' %}
            {% switch settings.getPropertyType(setting) %}
                {% case 'bool' %}
                    {{ forms.lightswitchField({
                        label: settings.getLabel(setting)|t('ansel'),
                        instructions: settings.getInstructions(setting)|t('ansel'),
                        id: setting,
                        name: setting,
                        on: value,
                        errors: errors[setting] ?? []
                    }) }}
                {% default %}
                    {{ forms.textField({
                        label: settings.getLabel(setting)|t('ansel'),
                        instructions: settings.getInstructions(setting)|t('ansel'),
                        id: setting,
                        name: setting,
                        value: value,
                        first: true,
                        autofocus: true,
                        maxlength: 255,
                        errors: errors[setting] ?? []
                    }) }}
            {% endswitch %}
        {% endfor %}
    </div>
{% endblock %}
