<div>
    <div class="AnselBgOverlay"></div>
    <table class="AnselCropTable">
        <tbody>
            <tr class="AnselCropTable__Row">
                <td class="AnselCropTable__Cell">
                    <img draggable="false" src="" alt="" class="AnselCropTable__Img JSAnselCropTable__Img">
                    <div class="AnselToolBar">
                        <ul class="AnselToolBar__List">
                            <li class="AnselToolBar__Button AnselToolBar__Button--CancelCrop JSAnselToolBar__Button--CancelCrop">
                                <a class="AnselToolBar__Icon AnselToolBar__Icon--Cancel">Cancel</a>
                            </li>
                            <li class="AnselToolBar__Button AnselToolBar__Button__ApproveCrop JSAnselToolBar__Button--ApproveCrop">
                                <a class="AnselToolBar__Icon AnselToolBar__Icon--Approve">Save</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
