<div class="AnselField JSAnselField">
    <div class="spinner big AnselField__Spinner"></div>
    <div class="AnselField__Inner">
        <div class="AnselField__DropImagesToUpload">
            {{ 'Drag images here to upload'|t('app')|anselWidont }}
        </div>
        <div class="AnselField__ImagesHolder"></div>
        <div class="AnselField__SelectImage">
            <div class="btn add icon dashed AnselField__SelectImageButton" tabindex="0">Select Existing Image</div>
        </div>
    </div>
</div>
