.AnselField__Notifications {
    display: none;
    margin-bottom: 10px;
}

.AnselField__Notifications--HasNotifications {
    display: block;
}

.AnselField__Notification--IsError {
    color: #da5a47;
}
