.AnselCropTable {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 501;
}

.AnselCropTable__Cell {
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
}

.AnselCropTable__Cell:hover {
    background-color: transparent;
}

.AnselCropTable__Img {
    display: block;
}
